#### General config. ####

# Discord bot token. Required.
# Environment variable: DISCORD_BOT_TOKEN
token=xxxxx

# Command prefix. Default: !
# Environment variable: COMMAND_PREFIX
prefix=!

# Authorised role IDs.
# Environment variable: AUTH_ROLES
auth-roles=[1, 2, 3, 4]

#### API credentials for search functions. ####

# Algolia search for !product command.
# Environment variable: ALGOLIA_CREDENTIALS
algolia=[appid, apikey]

# GitHub search.
# Environment variable: GITHUB_CREDENTIALS
github=[user, apikey]

# Youtube search.
# Environment variable: YOUTUBE_SERVER_API_KEY
youtube=apikey

